* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.header {
    display: flex;
    gap: 740px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.header h1 {
    font-size: 3rem;
    background: linear-gradient(45deg, #ff6b6b, #feca57, #48dbfb, #ff9ff3);
    background-clip: text;
    color: transparent;
}
nav {
    display: flex;
    gap: 30px;
}
a {
    color: rgb(189, 189, 189);
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .5s;
}

a:hover {
    color: white;
}

a.active {
    color: white;
}